.idea/
.venv/
__pycache__/
*.egg-info
dist/
build/
.coverage
coverage.xml
examples/notebooks/data/
examples/notebooks/runs/
examples/notebooks/yolov5/
examples/notebooks/ckn_producer/
examples/notebooks/ckn_demo_images/
examples/notebooks/*.pth